<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>passed.modify</title>
<link rel="stylesheet" href="../../css/default.css" type="text/css">
</head>
<body bgcolor="#FFFFFF">
<!--##begin-->
<!--$Id$-->
<script language="JavaScript">
<!--
  function resetForm(){
     document.forms['modify'].reset();
  }
//-->
</script>
<form method="POST" action="!#ausgaben_form_aktion" name="modify">
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr> 
      <td bgcolor="#EC9379">#(ueberschrift)</td>
    </tr>
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="0" cellpadding="2">
          <tr> 
            <td colspan="2">#(inhalt)</td>
          </tr>
          <tr>
            <td colspan="2"><font color="#FF0000">!#ausgaben_form_error</font></td>
          </tr>
          <tr> 
            <td width="50%"> 
              <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr> 
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr> 
                  <td>#(oldpass)</td>
                  <td>!#element_oldpass</td>
                </tr>
                <tr> 
                  <td>#(newpass)</td>
                  <td>!#element_newpass</td>
                </tr>
                <tr> 
                  <td>#(chkpass)</td>
                  <td>!#element_chkpass</td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </td>
            <td width="50%">&nbsp;</td>
          </tr>
          <tr align="right"> 
            <td colspan="2"> 
              <table border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td colspan="3"> 
                    <input name="form_referer" type="hidden" value="!#ausgaben_form_referer">
                  </td>
                </tr>
                <tr> 
                  <td> 
                    <input name="send[]" type="submit" value="#(send)">
                  </td>
                  <td align="center"> 
                    <input type="reset" name="Zur&uuml;cksetzen" value="#(reset)">
                  </td>
                  <td align="right"> 
                    <input type="button" value="#(abort)" onClick="location='!#ausgaben_form_break'" name="button">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td colspan="2"> 
              <p>!#ausgaben_output<br>
                !#ausgaben_inaccessible</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
<!--##end-->
</body>
</html>
