<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>menued.rights</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<form method="post" action="!#ausgaben_form_aktion" id="eEd">
    <h1>#(ueberschrift)</h1>
    <p>#(inhalt)</p>
    <p>!#ausgaben_form_error</p>
    <h2>#(database)</h2>
    <p>!#ausgaben_database</p>
    <h2>#(path)</h2>
    <p>!#ausgaben_path</p>
    <fieldset class="float">
        <label>
            !#element_actual
            !#element_del
        </label>
        <label>
            !#element_avail
            !#element_add
        </label>
        <div class="clearer"></div>
    </fieldset> 
    <fieldset>
        <input type="button" name="send[]" value="g(send)" onclick="location='!#ausgaben_form_break'" class="first" />
    </fieldset>
    <p>!#ausgaben_output</p>
    <p>!#ausgaben_inaccessible</p>
</form>
<!--##end-->
</body>
</html>