<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>usered.modify</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id: 210295197.modify.tem.html 789 2007-09-14 12:14:02Z chaot $-->
<script type="text/javascript">
<!--
  function resetForm(){
     document.forms[0].reset();
  }
//-->
</script>
<form method="post" action="!#ausgaben_form_aktion" id="eEd">
    <h1>#(ueberschrift)</h1>
    <p>#(inhalt)</p>
    <p>!#ausgaben_form_error</p>

    <!--##hide-edit-->
    <fieldset class="float">
        <label for="priv">#(priv)
            !#element_priv
        </label>
    </fieldset>
    <!--##show-->


    <fieldset class="float">
        <legend>!#ausgaben_priv</legend>
        <!--##hide-delete_liste-->
        <table width="100%" cellspacing="0" cellpadding="2" border="1">
            <tr><th>#(group)</th><th>#(tname)</th><th>#(art)</th></tr>
            <!--##loop-delete-->
            <tr><td>!{group}</td><td>!{content}</td><td>!{neg}</td></tr>
            <!--##cont-->
        </table>
        <!--##show-->
    </fieldset>

    <fieldset>
        <input name="form_referer" type="hidden" value="!#ausgaben_form_referer" class="hidden" />
        <!--##hide-delete_button-->
        <input type="submit" name="delete[]" value="g(delete)" class="first" />
        <!--##show-->
        <!--##hide-send_button-->
        <input type="submit" name="send[]" value="g(send)" class="first" />
        <input type="reset" name="reset" value="g(reset)" onclick="resetForm()" class="next" />
        <!--##show-->
        <input type="button" name="abort" value="g(abort)" onclick="location='!#ausgaben_form_break'" class="next" />
        <div class="clearer">&nbsp;</div>
    </fieldset>
    <p>!#ausgaben_output</p>
    <p>!#ausgaben_inaccessible</p>
</form>
<!--##end-->
<p>
    <a href="http://validator.w3.org/check?uri=referer">
        <img src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
    </a>
</p>
</body>
</html>
