<!--##begin-->
<!--administration-content.tem.html emnili/krompi-->
<div style="border: 1px solid;margin: 5px 0;padding: 5px">
<h2>Inhaltsbereiche</h2>
<!--##hide-edit_section--> 
    <div id="edit_!{name}">
        <h3><a href="#">in Bearbeitung</a></h3>            
        <ul style="overflow:hidden;list-style:none;list-style-image:none;padding:1px;width:auto;">
        <!--##loop-edit_section-->
            <li style="margin:5px;padding:0.2em; border: 1px solid #CCCCCC">
                <span style="float:right;text-align:right;display:block;">
                    <a onclick="preview('!{preview}','vorschau_container')" style="display:block;" title="Pfad: !{path}" >Vorschau</a>
                    <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                    <a href="!{del}" style="display:block;" title="Seite l&ouml;schen">L&ouml;schen</a>
                </span>
                <b>!{titel}</b><br />
                Autor: !{author}<br />
                letzte &Auml;nderung: !{changed}<br />
                letzte Version von: !{last_author}
                <div class="clearer"></div>
            </li>    
        <!--##cont-->
        </ul>
    </div>
    <script>
        $(document).ready(function() {
            jQuery('#edit_!{name}').accordion({
                animated: 'bounceslide',
                active: 4,
                collapsible: true,
                autoHeight: false
            });
        })
    </script>
<!--##show-->
                    
<!--##hide-release_wait_section-->
    
    <div id="release_wait_!{name}">
        <h3><a href="#">Freigabe angefordert</a></h3>
        <ul style="overflow:hidden;list-style:none;list-style-image:none;padding:1px;width:auto;">
        <!--##loop-release_wait_section-->
            <li style="margin:5px;padding:0.2em; border: 1px solid #CCCCCC">
                <span style="float:right;text-align:right;display:block;">
                    <a href="!{view}" style="display:block;" title="Pfad: !{path}" onclick="ajax_preview('!{view}');return false;">Vorschau</a>
                </span>
                <b>!{titel}</b><br />
                letzte &Auml;nderung: !{changed}<br />
                Chefredakteure: !{chefred}
                <div class="clearer"></div>
            </li>
        <!--##cont-->
        </ul>
    </div>
        <script>
        $(document).ready(function() {
            jQuery('#release_wait_!{name}').accordion({
                animated: 'bounceslide',
                active: 4,
                collapsible: true,
                autoHeight: false
            });
        })
    </script>
<!--##show-->         

<!--##hide-release_queue-->
    <div id="release_queue_!{name}">
        <h3><a href="#">Warten auf Freigabe</a></h3>
        <ul style="overflow:hidden;list-style:none;list-style-image:none;padding:1px;width:auto;">
        <!--##loop-release_queue-->
            <li style="margin:5px;padding:0.2em; border: 1px solid #CCCCCC">
                <span style="float:right;text-align:right;display:block;">
                <a href="!{view}" style="display:block;" title="Pfad: !{path}" onclick="ajax_preview('!{view}');return false;">Vorschau</a>
                <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                <a href="!{release}" style="display:block;" title="Seite freigeben">Freigabe</a>
                <a href="!{history}" style="display:block;" title="Pfad: !{path}">Versionen</a>
                <a href="!{unlock}" style="display:block;" title="Seite entsperren">Entsperren</a>
                </span>
                <b>!{titel}</b><br />
                Autor: !{author}<br />
                letzte &Auml;nderung: !{changed}<br />
                letzte Version von: !{last_author}
                <div class="clearer"></div>
            </li>
            <!--##cont-->
        </ul>
    </div>

    <script>
        $(document).ready(function() {
            jQuery('#release_queue_!{name}').accordion({
                animated: 'bounceslide',
                active: 4,
                collapsible: true,
                autoHeight: false
            });
        })
    </script>
<!--##show-->  


    <div id="ajax_menubaum">
        <h3><a href="#">Men&uuml;baum</a></h3>
        <div>
            <div id="buffy"></div>           
        </div>
    </div>     
</div>
<!--##end-->
