<!--##begin-->
<!--base.pdf.html v1 chaot-->
</html>
<head>
    <link rel="stylesheet" href="../../css/default/screen.css" type="text/css" />
</head>
<body>
<h1><a href="!#pathvars_menuroot/index.html" title="eWeBuKi - !#environment_ebene !#environment_kategorie"><span class="dark">eWeBuKi</span> Stylesheet</a></h1>
<p>!#date - #(kekse) !#environment_kekse</p>
#{main}

<!--##hide-img_meta-->
Bildinformationen:<br />
<!--##loop-img_meta-->
!{tag} - !{caption} - !{description}<br />
<!--##cont-->
<!--##show-->

<p>#(copyright)</p>
</body>
</html>
<!--##end-->
