<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>my</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--my.tem.html v1 chaot-->
<h1>#(ueberschrift)</h1>
<p>#(inhalt)</p>
<!--##hide-leer-->
<table style="width:100%; border-collapse:collapse;">
    <thead>
        <tr>
            <th style="text-align:left;">#(field1)</th>
            <th style="text-align:left;">#(field2)</th>
        </tr>
    </thead>
    <tbody>
        <!--##loop-leer-->
        <tr>
            <td style="border:1px solid #000;">!{0}</td>
            <td style="border:1px solid #000;">!{1}</td>
        </tr>
        <!--##cont-->
    </tbody>
</table>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>
<!--##show-->
<!--##end-->
</body>
</html>
