<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>leer.delete</title>
<link rel="stylesheet" href="../../css/stylesheet/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/stylesheet/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id: -1468826685.delete.tem.html 354 2005-05-27 20:02:23Z chaot $-->
<form method="post" action="!#ausgaben_form_aktion" id="eEd">
    <h1>#(ueberschrift)</h1>
    <p>#(inhalt)</p>
    <p>!#ausgaben_form_error</p>
    <p>#(field1)</p>
    <p>!#ausgaben_field1</p>
    <p>#(field2)</p>
    <p>!#ausgaben_field2</p>
    <input name="form_referer" type="hidden" value="!#ausgaben_form_referer" class="hidden" />
    <input name="id1" type="hidden" value="!#ausgaben_form_id1" class="hidden" />
    <input name="id2" type="hidden" value="!#ausgaben_form_id2" class="hidden" />
    <input name="delete" type="hidden" value="!#ausgaben_form_delete" class="hidden" />
    <div class="clearer">&nbsp;</div>
    <input type="submit" name="send[]" value="g(send)" class="first" />
    <input type="button" name="abort" value="g(abort)" onclick="location='!#ausgaben_form_break'" class="next" />
    <div class="clearer">&nbsp;</div>
    <p>!#ausgaben_output</p>
    <p>!#ausgaben_inaccessible</p>
</form>
<!--##end-->
</body>
</html>