<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>leveled.delete</title>
<link rel="stylesheet" href="../../css/stylesheet/screen.css" type="text/css" media="screen">
</head>
<!--##begin-->
<!--$Id: -840786483.delete.tem.html 264 2004-11-08 19:33:51Z chaot $-->
<form  name="navi" method="post" action="!#ausgaben_form_aktion" id="eEd">
    <h1>#(ueberschrift)</h1>
    <p>#(inhalt)</p>
    <h2>#(frage)</h2>
    <!--##hide-members-->
        <h2>#(members)</h2>
        !#ausgaben_members
    <!--##show-->
    <div class="clearer">&nbsp;</div>
    <input name="send[]" type="submit" value="g(send)" class="first">
    <input name="button" type="button" value="g(abort)" class="next" onClick="location='!#ausgaben_form_break'">
    <div class="clearer">&nbsp;</div>
    <p>!#ausgaben_output </p>
    <p>!#ausgaben_inaccessible</p>
</form>
<!--##end-->
</body>
</html>