<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>leveled.modify</title>
<link rel="stylesheet" href="../../css/stylesheet/screen.css" type="text/css" media="screen">
</head>
<!--##begin-->
<!--$Id: -840786483.modify.tem.html 262 2004-11-08 19:29:28Z chaot $-->
<SCRIPT>
  function resetForm(){
     document.forms['modify'].reset();
  }
</SCRIPT>
<form method="POST" action="!#ausgaben_form_aktion" id="eEd">
    <h1>#(ueberschrift)</h1>
    <p>#(inhalt)</p>
    <p>!#ausgaben_form_error</p>
    <div class="clearer">&nbsp;</div>
    <fieldset class="float">
        <label for="level">#(level)
            !#element_level
        </label>
        <label for="description">#(description)
            !#element_beschreibung
        </label>
        <!--##hide-edit-->
        <label>#(actual)
            <select name="actual[]" size="10" multiple>
            <!--##loop-actual-->
                <option value="!{value}">!{username}</option>
            <!--##cont-->
            </select>
            <input type="submit" name="del[]" value="#(del)">
        </label>
        <!--##show-->
        <label>#(avail)
            <select name="avail[]" size="10" multiple>
            <!--##loop-avail-->
                <option value="!{value}">!{username}</option>
            <!--##cont-->
            </select>
            <!--##hide-edit-->
            <input type="submit" name="add[]" value="#(add)">
            <!--##show-->
        </label>
    </fieldset>
    <fieldset>
        <input class="next" name="send[]" type="submit" value="#(send)">
        <input class="next" type="reset" name="Zur&uuml;cksetzen" value="#(reset)">
        <input class="next" type="button" value="#(abort)" onClick="location='!#ausgaben_form_break'" name="button">
    </fieldset>
</form>
<div class=clearer></div>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>
<!--##end-->
</body>
</html>