<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>auth.login</title>
</head>
<body bgcolor="#FFFFFF">
<!--##begin-->
!#ausgaben_login_meldung
<form name="login" method="post" action="!#ausgaben_auth_url">
    <input style="width:50;font-size:9px" type="text" name="user"><br />
    <input style="width:50;font-size:9px" type="password" name="pass"><br />
    <input name="form_referer" type="hidden" value="!#ausgaben_form_referer">
    <input type="submit" name="login" value="login">
</form>
<!--##end-->
</body>
</html>