<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>auth.logout</title>
</head>
<body>
<!--##begin-->
<p>#(vorher) !#ausgaben_logout_meldung #(nachher)</p>
<form method="post" action="!#ausgaben_auth_url">
    <div>
        <input type="submit" name="logout" value="logout" />
    </div>
</form>
<p>!#ausgaben_logout_rechte</p>
<!--##end-->
</body>
</html>

