<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>default1</title>
<link rel="stylesheet" href="../../css/stylesheet/screen.css" type="text/css">
</head>
<body>
<div id="content">
#(inhalt)
!#ausgaben_output
</div>

<!--##begin-->
#(inhalt)
!#ausgaben_output
<!--##end-->


<!--<div class="left">
    <h3>Fresh News:</h3>
    <div class="left_box">
        <img src="../../images/stylesheet/bigimage.gif" class="image" alt="Big Image" />
        <h2>Expanding Internet Services</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi <a href="#">enim ad minim</a> veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <a href="#">Duis autem</a> vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
    </div>

    <h3>Web Directory</h3>
        <div class="left_side">
            <p><b><img src="../../images/stylesheet/arrow.gif" alt=">" /><a class="title" href="#">Arts</a></b><br />
            <a href="#">Music</a>, <a href="#">Television</a>, <a href="#">Movies</a>...</p>
            <p><b><img src="../../images/stylesheet/arrow.gif" alt=">" /><a class="title" href="#">Computers</a></b><br />
            <a href="#">Internet</a>, <a href="#">Software</a>, <a href="#">Hardware</a>...</p>
            <p><b><img src="../../images/stylesheet/arrow.gif" alt=">" /><a class="title" href="#">Shopping</a></b><br />
            <a href="#">Autos</a>, <a href="#">Clothing</a>, <a href="#">Gifts</a>...</p>
        </div>
        <div class="right_side">
            <p><b><img src="../../images/stylesheet/arrow.gif" alt=">" /><a class="title" href="#">Business</a></b><br />
            <a href="#">Jobs</a>, <a href="#">Real Estate</a>, <a href="#">Investing</a>...</p>
            <p><b><img src="../../images/stylesheet/arrow.gif" alt=">" /><a class="title" href="#">Health</a></b><br />
            <a href="#">Fitness</a>, <a href="#">Medicine</a>, <a href="#">Alternative</a>...</p>
            <p><b><img src="../../images/stylesheet/arrow.gif" alt=">" /><a class="title" href="#">Sports</a></b><br />
            <a href="#">Baseball</a>, <a href="#">Basketball</a>, <a href="#">Soccer</a>...</p>
        </div>

    <h3>Colaboration:</h3>
    <div class="left_box">
    <img src="../../images/stylesheet/ad.gif" class="image" alt="Big Image" />
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi <a href="#">enim ad minim</a> veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <a href="#">Duis autem</a> vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.<a href="#">Duis autem</a> vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
    </div>
</div>-->


<!--<div class="right">
    <h3>Top Articles:</h3>
    <div class="right_articles">
        <p><img src="../../images/stylesheet/image.gif" alt="Image" title="Image" class="image" /><b>Lorem ipsum dolor sit amet</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </div>
    <div class="right_articles">
        <p><img src="../../images/stylesheet/image.gif" alt="Image" title="Image" class="image" /><b>Lorem ipsum dolor sit amet</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </div>
    <h3>Related Readings:</h3>
    <div class="right_articles">
        <p><img src="../../images/stylesheet/image.gif" alt="Image" title="Image" class="image" /><b>Lorem ipsum dolor sit amet</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </div>
    <div class="right_articles">
        <p><img src="../../images/stylesheet/image.gif" alt="Image" title="Image" class="image" /><b>Lorem ipsum dolor sit amet</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </div>
    <div class="right_articles">
        <p><img src="../../images/stylesheet/image.gif" alt="Image" title="Image" class="image" /><b>Lorem ipsum dolor sit amet</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </div>
    <div class="right_articles">
        <p><img src="../../images/stylesheet/image.gif" alt="Image" title="Image" class="image" /><b>Lorem ipsum dolor sit amet</b><br />consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    </div>
</div>-->

</body>
</html>

