<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head><!--$Id: imgb.tem.html,v 1.2 2006/07/26 15:05:45 intra_cvs Exp $-->

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>imgb</title>
    <link rel="stylesheet" href="imgb.tem-Dateien/net.asc" type="text/css">
    <style>

        .imgb div img {
            border:0;
        }
        .imgb p {
            padding-left:2px;
            border:1px solid silver;
        }
        .imgb p a {
            padding-left:20px;
            background: url(/images/net/filefind.png) no-repeat;
        }
    </style>


</head>
<body bgcolor="#ffffff">

<!--##begin-->
<div class="imgb" style="margin:!#ausgaben_tspacepx !#ausgaben_rspacepx !#ausgaben_bspacepx !#ausgaben_lspacepx;width:!#ausgaben_tabwidthpx;!#ausgaben_float">
    <div>
        !#ausgaben_linka
            <img src="!#ausgaben_imgurl" title="!#ausgaben_alt" alt="!#ausgaben_alt" !#ausgaben_imgsize !#ausgaben_border>
        !#ausgaben_linkb
    </div>
    <p>!#ausgaben_linka!#ausgaben_beschriftung!#ausgaben_linkb</p>
</div>

<!--##end-->
</body></html>