<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>my</title>
<link rel="stylesheet" href="../../css/stylesheet/screen.css" type="text/css" media="screen">
</head>
<body>
<!--##begin-->
<!--$Id$-->
<h1>#(ueberschrift)</h1>
<p>#(inhalt)</p>
<!--##hide-leer-->
<table width="100%" border="1" cellpadding="0" cellspacing="0">
    <tr>
        <td nowrap class="menu_ueberschrift" colspan="2">#(data)</td>
    </tr>
    <!--##loop-leer-->
    <tr>
        <td align="left" valign="top">!{0}</td>
        <td align="left" valign="top">!{1}</td>
    </tr>
    <!--##cont-->
</table>
<p>!#ausgaben_output</p>
<!--##show-->
<!--##end-->
</body>
</html>

