<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>contented.modify</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/devel/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<script type="text/javascript">
<!--
  function resetForm(){
     document.forms[0].reset();
  }
//-->
</script>
!#ausgaben_ce_script
<form method="post" action="!#ausgaben_form_aktion" id="cEd" !#ausgaben_eventh1>
    <h1>#(ueberschrift)</h1>
    <p>#(inhalt)</p>
    !#ausgaben_form_error</p>

    <fieldset class="ce">

        <div style="float:left"><script type="text/javascript">ebToolbar('T');</script></div>

        <a class="infobox" href="#INFO">INFO
        <span>
            !#ausgaben_ce_tem_db<br />
            !#ausgaben_ce_tem_name<br />
            !#ausgaben_ce_tem_label<br />
            !#ausgaben_ce_tem_lang<br />
            !#ausgaben_version<br />
            !#ausgaben_lock
        </span>
        </a>

<!--         <p>!#ausgaben_ce_button</p> -->
        <textarea id="content" name="!#ausgaben_name" cols="80" rows="15" title="!#ausgaben_lock" class="!#ausgaben_class" !#ausgaben_eventh2>!#ausgaben_inhalt</textarea>
<!--         <p>!#ausgaben_ce_bottom_button</p> -->

        <div style="float:left"><script type="text/javascript">ebToolbar('B');</script></div>
        <p style="float:right" id="characters">!#ausgaben_charakters</p>

        <div class="clearer">&nbsp;</div>

        <!--##hide-list_images-->
        <ul>
        <!--##loop-list_images-->
            <li class="thumbs">
                <p>
                    <input type="button" id="eb_imgo" value="O" title="Einfügen Original (original)" onclick="!{oclick}" class="butfil" />
                    <input type="button" id="eb_imgs" value="B" title="Einfügen Gross (big)" onclick="!{bclick}" class="butfil" />
                    <input type="button" id="eb_imgm" value="M" title="Einfügen Mittel (middle)" onclick="!{mclick}" class="butfil" />
                    <input type="button" id="eb_imgb" value="S" title="Einfügen Klein (small)" onclick="!{sclick}" class="butfil" />
                </p>
                <img src="!{src}" !{size} alt="!{alt}" title="!{title} g(edit)" onclick="!{oclick}" />
            </li>
        <!--##cont-->
        </ul>
        <!--##show-->
        <div style="clear:both"></div>
        <!--##hide-list_other-->
        <ul>
        <!--##loop-list_other-->
            <li class="files" style="background:!{color};">
                <a title="!{title} einfügen" onclick="!{fclick}">!{title}</a>
                <a title="!{title} einfügen" onclick="!{cvs_click}">!{cvs_title}</a>
                <div style="clear:both"></div>
            </li>
        <!--##cont-->
        </ul>
        <!--##show-->
        <div style="clear:both"></div>
        <!--##hide-selection-->
        <ul>
        <!--##loop-selection-->
            <li class="files">
                <input type="button" id="eb_imgo" value="O" title="Einfügen Original (original)" onclick="ebInsertSel(ebCanvas, '!{id}', 'o', '', '!{pics}', 'TRUE')" class="butfil" />
                <input type="button" id="eb_imgo" value="B" title="Einfügen Gross (big)" onclick="ebInsertSel(ebCanvas, '!{id}', 'b', '', '!{pics}', 'TRUE')" class="butfil" />
                <input type="button" id="eb_imgo" value="M" title="Einfügen Mittel (middle)" onclick="ebInsertSel(ebCanvas, '!{id}', 'm', '', '!{pics}', 'TRUE')" class="butfil" />
                <input type="button" id="eb_imgo" value="S" title="Einfügen Klein (small)" onclick="ebInsertSel(ebCanvas, '!{id}', 's', '', '!{pics}', 'TRUE')" class="butfil" />
                &nbsp;# !{id}
                <div style="clear:both"></div>
            </li>
        <!--##cont-->
        </ul>
        <!--##show-->



        <script type="text/javascript" language="JavaScript">
            <!--
            // This is for toolbar plugins
            var ebCanvas = document.getElementById('content');
            //-->
        </script>

<!--         <p>!#ausgaben_tn</p> -->

        <div class="clearer">&nbsp;</div>

<!--         !#ausgaben_ce_upload -->
<!--         !#ausgaben_ce_dropdown -->

        <input type="hidden" name="html" value="!#ausgaben_form_hidden_html" class="hidden" />
        <input type="hidden" name="version" value="!#ausgaben_form_hidden_version" class="hidden" />
        <input type="hidden" name="status" value="!#ausgaben_form_hidden_status" class="hidden" />
        <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" class="hidden" />
        <div class="clearer">&nbsp;</div>
        <input type="submit" name="send[save]" value="g(overwrite)" accesskey="s" class="first" />
        <!--##hide-revision_control-->
        <input type="submit" name="send[versioning]" value="g(version)" accesskey="b" class="next" />
        <!--##show-->
        <input type="reset" name="reset" value="g(reset)" accesskey="r" class="next" />
        <input type="button" name="abort" value="g(abort)" accesskey="a" onclick="location='!#ausgaben_form_break'" class="next" />
        <div class="clearer">&nbsp;</div>
    </fieldset>

    <p>!#ausgaben_output</p>
    <p>!#ausgaben_inaccessible</p>
</form>
<!--##end-->
</body>
</html>