<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>bloged.list</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<h1>#(ueberschrift)</h1>
<p>#(inhalt)</p>
<p>!#ausgaben_form_error</p>
<!--##hide-new-->
<p><a href="!{link}">g(new)</a></p>
<!--##show-->
<!--##loop-list-->
<h2>!{datum} - <a href="!{detaillink}">!{titel}</a></h2>
<div id="eEd">
    <img style="float:right" src=/file/picture/small/img_!{image}></img>
    !{teaser}
    <p>
    !{editlink} !{deletelink}
    </p>
</div>
<!--##cont-->

<p style="float:left">g(anzahl) !#ausgaben_anzahl</p>
<p style="float:right">!#ausgaben_inhalt_selector</p>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>
<!--##end-->
</body>
</html>



        <tr style="background:!{color}">
            <td>
                <a href="!{detaillink}">!{titel}</a>
            </td>
            <td>!{date}</td>
        </tr>