<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>bloged.list</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<h1>#(ueberschrift)</h1>
<p>#(inhalt)</p>
<p>!#ausgaben_form_error</p>
<!--##hide-new-->
<p><a href="!{link}">g(new)</a></p>
<!--##show-->
<!--##loop-list-->
<h3>!{datum} - !{titel_org}</h3>
    !{image}
    !{teaser}
    <p>
    <a href="!{detaillink}">mehr</a> !{editlink} !{deletelink}
    </p>
<div class="clearer"></div><hr />
<!--##cont-->
<!--##hide-admin-->
<table width="100%" border="1">
<tr><td>!{beschriftung1}</td><td>!{beschriftung2}</td><td>!{beschriftung3}</td></tr>
<!--##show-->
<!--##hide-admin_clear-->
<tr><td colspan="3"><a href="!{link}">!{beschriftung4}</a></td></tr>
<!--##show-->
<!--##loop-blogs-->
<tr><td><a href="!{link}">!{name}</a></td><td>!{anzahl1}</td><td>!{anzahl2}</td></tr>
<!--##cont-->
<!--##hide-admin-->
</table>
<!--##show-->
<p style="float:left">g(anzahl) !#ausgaben_anzahl</p>
<p style="float:right">!#ausgaben_inhalt_selector</p>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>
<!--##end-->
</body>
</html>



        <tr style="background:!{color}">
            <td>
                <a href="!{detaillink}">!{titel}</a>
            </td>
            <td>!{date}</td>
        </tr>