<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<meta http-equiv="Content-Type"
 content="text/html; charset=iso-8859-1">
<title>menued.modify</title>
<link rel="stylesheet" href="../../css/net.css" type="text/css">
</head>
<body bgcolor="#ffffff">
<!--##begin-->
<SCRIPT>
  function resetForm(){
     document.forms['modify'].reset();
  }
</SCRIPT>
<form name="modify" method="post" action="!#ausgaben_form_aktion" onreset="return confirm('Wollen Sie wircklich alle Felder zurücksetzen?')">
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr> 
      <td bgcolor="#EC9379">#(ueberschrift)</td>
    </tr>
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="0" cellpadding="2">
          <tr> 
            <td colspan="2">#(inhalt)</td>
          </tr>
          <tr> 
            <td colspan="2"><img src="../../images/net/pos.gif" width="1" height="1">!#ausgaben_form_error</td>
          </tr>
          <tr> 
            <td valign="top" colspan="2"> 
              <table width="260" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td colspan="3">&nbsp;</td>
                </tr>
                <tr> 
                  <td width="4">&nbsp;</td>
                  <td colspan="2"><img src="../../images/net/pos.gif" width="1" height="10"></td>
                </tr>
                <tr> 
                  <td width="4">&nbsp;</td>
                  <td colspan="2" class="hervorgehoben">#-(feld1)</td>
                </tr>
                <tr> 
                  <td width="4">&nbsp;</td>
                  <td width="90">&nbsp;</td>
                  <td width="166">&nbsp;</td>
                </tr>
                <tr> 
                  <td width="4"><img src="../../images/net/pos.gif" width="1" height="18"></td>
                  <td width="90">#-(entry)</td>
                  <td width="166">!#element_entry</td>
                </tr>
                <tr> 
                  <td width="4"><img src="../../images/net/pos.gif" width="1" height="18"> 
                  </td>
                  <td width="90">#-(picture)</td>
                  <td width="166">!#element_picture</td>
                </tr>
                <tr> 
                  <td width="4">&nbsp;</td>
                  <td width="90">#-(level)</td>
                  <td width="166">!#element_level</td>
                </tr>
                <tr>
                  <td width="4">&nbsp;</td>
                  <td width="90">#-(madatory)</td>
                  <td width="166">!#element_mandatory</td>
                </tr>
                <tr> 
                  <td colspan="3">&nbsp;</td>
                </tr>
              </table>
              <table width="260" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td colspan="3">&nbsp;</td>
                </tr>
                <tr> 
                  <td width="4">&nbsp;</td>
                  <td colspan="2"><img src="../../images/net/pos.gif" width="1" height="10"></td>
                </tr>
                <tr> 
                  <td width="4">&nbsp;</td>
                  <td colspan="2" class="hervorgehoben">#-(feld2)</td>
                </tr>
                <tr> 
                  <td width="4">&nbsp;</td>
                  <td width="90">&nbsp;</td>
                  <td width="166">&nbsp;</td>
                </tr>
                <tr> 
                  <td width="4">&nbsp;</td>
                  <td width="90">#-(refid)</td>
                  <td width="166">!#element_refid</td>
                </tr>
                <tr> 
                  <td width="4"><img src="../../images/net/pos.gif" width="1" height="18"> 
                  </td>
                  <td width="90">#-(sort)</td>
                  <td width="166">!#element_sort</td>
                </tr>
                <tr> 
                  <td width="4"><img src="../../images/net/pos.gif" width="1" height="18"> 
                  </td>
                  <td width="90">#-(hide)</td>
                  <td width="166">!#element_hide</td>
                </tr>
                <tr> 
                  <td width="4">&nbsp;</td>
                  <td width="90"><img src="../../images/net/pos.gif" width="1" height="10"></td>
                  <td width="166">&nbsp;</td>
                </tr>
                <tr> 
                  <td colspan="3">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td valign="top" colspan="2"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr> 
                        <td colspan="4">&nbsp;</td>
                      </tr>
                      <tr> 
                        <td width="4" rowspan="7">&nbsp;</td>
                        <td colspan="2"><img src="../../images/net/pos.gif" width="1" height="10"></td>
                        <td width="4">&nbsp;</td>
                      </tr>
                      <tr> 
                        <td colspan="2" class="hervorgehoben">#-(feld3)</td>
                        <td class="hervorgehoben" width="4">&nbsp;</td>
                      </tr>
                      <tr> 
                        <td colspan="2">&nbsp;</td>
                        <td width="4">&nbsp;</td>
                      </tr>
                      <tr> 
                        <td colspan="2">!#ausgaben_langtabelle</td>
                        <td width="4">&nbsp;</td>
                      </tr>
                      <tr> 
                        <td colspan="2">&nbsp; </td>
                        <td width="4">&nbsp;</td>
                      </tr>
                      <tr> 
                        <td align="right" width="574">#-(new_lang) !#element_new_lang 
                        </td>
                        <td width="30"> 
                          <input name="add[]" type="image" src="../../images/default/add.png" width="24" height="18" border="0" value="new">
                        </td>
                        <td width="4">&nbsp;</td>
                      </tr>
                      <tr> 
                        <td colspan="2" class="hervorgehoben">&nbsp;</td>
                        <td width="4" class="hervorgehoben">&nbsp;</td>
                      </tr>
                      <tr> 
                        <td colspan="4">&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td valign="top">&nbsp; </td>
            <td align="right" valign="top"> 
              <table width="260" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td colspan="5"> 
                    <input name="form_referer" type="hidden" id="form_referer4" value="!#ausgaben_form_referer">
                  </td>
                </tr>
                <tr> 
                  <td> 
                    <input name="image[]" type="submit" value="#(senden)" src="../../images/default/send.png">
                  </td>
                  <td><img src="../../images/net/pos.gif" width="1" height="18" align="absbottom"></td>
                  <td>
                    <input type="reset" name="Zur&uuml;cksetzen" value="#(reset)">
                  </td>
                  <td><img src="../../images/net/pos.gif" width="1" height="18" align="absbottom"></td>
                  <td><a href="!#ausgaben_form_break">#(abbrechen)</a></td>
                </tr>
              </table>	
            </td>
          </tr>
          <tr> 
            <td colspan="2">!#ausgaben_output</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  </form>
<!--##end-->
</body>
</html>