<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>leveled.delete</title>
<link rel="stylesheet" href="../../css/net.css" type="text/css">
</head>
<body bgcolor="#FFFFFF">
<!--##begin-->
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr> 
    <td bgcolor="#EC9379">#(ueberschrift)</td>
  </tr>
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td>#(inhalt)</td>
        </tr>
        <tr> 
          <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td colspan="2">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2"><img src="../../images/net/pos.gif" width="1" height="1">!#ausgaben_form_error</td>
              </tr>
              <tr> 
                <td colspan="2">&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2">Wollen Sie diesen Eintrag wirklich l&ouml;schen?</td>
              </tr>
              <tr> 
                <td width="100">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr> 
                <td width="100" valign="top"><b>Entry:</b></td>
                <td>!#ausgaben_entry</td>
              </tr>
              <tr> 
                <td width="100">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr> 
                <td colspan="2"> 
                  <form name="navi" method="post" action="!#ausgaben_form_aktion">
                    <img src="../../images/net/pos.png" width="1" height="1"> 
                    <input type="submit" value="#(delete)" name="button">
                    <a href="!#ausgaben_form_break">#(abort)</a> 
                    <input type="hidden" name="delete" value="true">
                  </form>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td>!#ausgaben_output</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--##end-->
</body>
</html>
