<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<title>menued.list</title>
<link href="../../css/net.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#FFFFFF">
<!--##begin-->
<!--$Id$-->
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr> 
    <td bgcolor="#EC9379">#(ueberschrift)</td>
  </tr>
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td colspan="2">#(inhalt)</td>
        </tr>
        <tr>
          <td colspan="2">!#ausgaben_output</td>
        </tr>
        <tr> 
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr> 
          <td><a href="sort.html">Alles neu durchnummerieren</a></td>
          <td align="right"> <a href="modify,add,0.html">Neuer Ast</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--##end-->
<p>&nbsp;</p>
</body>
</html>
