<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>menued.delete</title>
<link rel="stylesheet" href="../../css/net.css" type="text/css">
</head>
<body bgcolor="#FFFFFF">
<!--##begin-->
<!--$Id$-->
<form name="delete" method="post" action="!#ausgaben_form_aktion">
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr> 
      <td bgcolor="#EC9379">#(ueberschrift)</td>
    </tr>
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="0" cellpadding="2">
          <tr> 
            <td>&nbsp;</td>
          </tr>
          <tr> 
            <td><img src="../../images/net/pos.gif" width="1" height="1">!#ausgaben_form_error</td>
          </tr>
          <tr> 
            <td>#(inhalt)</td>
          </tr>
          <tr> 
            <td> 
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr> 
                  <td width="150">#-(entry)</td>
                  <td colspan="2">!#ausgaben_entry</td>
                </tr>
                <tr> 
                  <td valign="top" width="150">#-(languages)</td>
                  <td colspan="2">!#ausgaben_languages</td>
                </tr>
                <tr> 
                  <td valign="top" width="150">#-(content)</td>
                  <td colspan="2">!#ausgaben_content</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="right">&nbsp;</td>
          </tr>
          <tr> 
            <td align="right"> 
              <table border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td colspan="3"> 
                    <input name="form_referer" type="hidden" value="!#ausgaben_form_referer">
                    !#ausgaben_form_hidden </td>
                </tr>
                <tr> 
                  <td> 
                    <input type="submit" value="#(send)" name="button">
                  </td>
                  <td>&nbsp;</td>
                  <td align="right"> 
                    <input type="button" value="#(abort)" onClick="location='!#ausgaben_form_break'" name="button2">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td>!#ausgaben_output</td>
          </tr>
          <tr> 
            <td>!#ausgaben_inaccessible</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
<!--##end-->
</body>
</html>
