<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>leveled.delete</title>
<link rel="stylesheet" href="../../css/default.css" type="text/css">
</head>
<body bgcolor="#FFFFFF">
<!--##begin-->
<!--$Id$-->
<form name="navi" method="post" action="!#ausgaben_form_aktion">
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr> 
      <td bgcolor="#EC9379">#(ueberschrift)</td>
    </tr>
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="0" cellpadding="2">
          <tr> 
            <td>#(inhalt)</td>
          </tr>
          <tr> 
            <td>&nbsp; </td>
          </tr>
          <tr> 
            <td>#(frage)</td>
          </tr>
          <tr> 
            <td align="right"> 
              <table border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td colspan="3"> 
                    <input name="form_referer" type="hidden" value="!#ausgaben_form_referer">
                  </td>
                </tr>
                <tr> 
                  <td> 
                    <input name="send[]" type="submit" value="#(send)">
                  </td>
                  <td align="center">&nbsp; </td>
                  <td align="right"> 
                    <input type="button" value="#(abort)" onClick="location='!#ausgaben_form_break'" name="button2">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td> 
              <p>!#ausgaben_output<br>
                !#ausgaben_inaccessible</p>
              </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  </form>
<!--##end-->
</body>
</html>
