<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>leveled.list</title>
<link rel="stylesheet" href="../../css/default.css" type="text/css">
</head>
<body bgcolor="#FFFFFF">
<!--##begin-->
<!--$Id$-->
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr> 
    <td bgcolor="#EC9379">#(ueberschrift)</td>
  </tr>
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td colspan="2">#(inhalt)</td>
        </tr>
        <tr> 
          <td colspan="2">!#ausgaben_output</td>
        </tr>
        <tr> 
          <td>!#ausgaben_inhalt_selector </td>
          <td align="right"><a href="!#ausgaben_link_new">#(new)</a></td>
        </tr>
        <tr>
          <td>!#ausgaben_inaccessible</td>
          <td align="right">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--##end-->
</body>
</html>
