<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>fileed.list</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<div id="eEd">
    <h1>#(ueberschrift)</h1>
    <div class="tabbed" style="">
        <ul style="">
            <!--##loop-tabs-->
            <li style="!{style}">
                <a href="!{link}" class="!{class}" style="">!{label}</a>
            </li>
            <!--##cont-->
        </ul>
    </div>
    <div style="clear:both;border-top:1px solid #666666;"></div>
    <form method="POST" action="!#ausgaben_form_aktion">
        <fieldset class="float" style="padding:0;">
            <label class="small">
                #(search)&nbsp;
                <input type="text" name="search" value="!#ausgaben_search" class="textfield" />
            </label>
            <label class="small">
                &nbsp;
                <input type="submit" name="send[]" value="g(send)" />
            </label>
            <div class="clearer"></div>
        </fieldset>
    </form>
</div>
<!-- <p>#(num_comps) !#ausgaben_result</p> -->
<p style="clear:both">&nbsp;
    <!--##hide-cms-->
    <span style="display:!{display};" id="cms">
        &nbsp;<a href="!{link}">g(cmslink)</a>
    </span>
    <!--##show-->
</p>

<!--##loop-compilation-->
<div class="selection_teaser">
    <b style="background:none;" id="cEd">
        <a style="!{used_title_show}" class="infobox">
            #(used_title)
            <span>!{used_title_text}</span>
        </a>
        <input id="!{id}" class="selection_checkbox" type="checkbox" name="sel_pics[!{id}]" value="-1" onclick="session_update(!{id});" style="vertical-align:middle;margin:0.166em 3px 0 0;"!{check} />
        ID:!{id}
    </b>
    <div style="clear:both;"></div>

    <div>
        <ul>
            <li class="thumbs">
                <a title="!{pic_0_title}" class="pic" rel="lightbox[!{id}]" href="!{pic_0_src_lb}"><img title="" alt="" src="!{pic_0_src}"/></a>
            </li>
            <li class="thumbs">
                <a title="!{pic_1_title}" class="pic" rel="lightbox[!{id}]" href="!{pic_1_src_lb}"><img title="" alt="" src="!{pic_1_src}"/></a>
            </li>
            <li class="thumbs">
                <a title="!{pic_2_title}" class="pic" rel="lightbox[!{id}]" href="!{pic_2_src_lb}"><img title="" alt="" src="!{pic_2_src}"/></a>
            </li>
            <li class="thumbs">
                <a title="!{pic_3_title}" class="pic" rel="lightbox[!{id}]" href="!{pic_3_src_lb}"><img title="" alt="" src="!{pic_3_src}"/></a>
            </li>
            <li style="display:none;">!{lb_pics}</li>
        </ul>
    </div>
    <span style="display:block;">
        !{edit} (Anzahl der Bilder: !{count})!{used_on}</span>
</div>
<div style="clear:both;"></div>
<!--##cont-->

<div style="clear:both"></div>
<p style="float:left">g(anzahl)!#ausgaben_anzahl</p>
<p style="float:right">!#ausgaben_inhalt_selector</p>
<div style="clear:both"></div>
<p>#(inhalt)</p>
<p>#(text1)</p>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>

<script type="text/javascript">
    function session_update(compid) {
        new Ajax.Request(
            './compilation,' + compid + '.html',
            {
                asynchronous:true,
                parameters:'ajax=on',
                onSuccess:function() {
                    check_boxes(compid);
                }
            }
        );
    }
    function check_boxes(compid) {
        elements = $$('input.selection_checkbox');
        for (i=0;i<elements.length;i++) {
            if ( elements[i].id != compid ) {
                elements[i].checked = false;
            }
        }
    }
</script>
<!--##end-->






<hr />



<!--##hide-compilation-->
<h1 id="cEd">
<!--##show-->
<!--##hide-long_name-->
    <a class="infobox">
        #(all_names)
        <span>!{title}</span>
    </a>
<!--##show-->
<!--##hide-compilation-->
    !{title}
</h1>
<p>
<a href="!#ausgaben_edit" style="float:right;">
    <img src="../../images/default/edit.png" width="24" height="18" alt="g(edit)" title="g(edit)" />
</a>
<!--##show-->

<!--##hide-zurueck-->
<a href="!{link}">g(prev)</a>
<!--##show-->
#(compilation) !#ausgaben_aktuell #(of) !#ausgaben_comp_count
<!--##hide-vor-->
<a href="!{link}">g(next)</a>
<!--##show-->
</p>
<div style="clear:both"></div>
<!--##hide-check_error-->
<p style="display:!{display}" id="error">
    #(check_error1) <span id="ajax_output">!{count}</span> #(check_error2)
</p>
<!--##show-->

<!--##hide-list_ajax-->
<ul>
<!--##loop-list_images-->
    <li class="thumbs">
        <a href="!{vhref}" class="pic"><img src="!{src}" alt="!{alt}" title="!{title} g(edit)" /></a>
        <p>
            <input id="!{id}" type="checkbox" name="sel_pics[!{id}]" value="-1" onclick="session_update(!#ausgaben_compid,!{id});"!{checked} />
        </p>
    </li>
<!--##cont-->
</ul>
<div style="clear:both"></div>
<script type="text/javascript">
    function session_update(compid,fileid) {
        new Ajax.Updater('ajax_output',
                         './compilation,' + compid + ',' + fileid + '.html?ajax',
                         {
                            asynchronous:true,
                            onSuccess:function(){ new Effect.Fade('error')},
                            onFailure:function(){
                                new Effect.Appear('error');
                                document.getElementById(fileid).checked = false;
                            }
                         }
        );
    }
</script>
<!--##show-->

<!--##hide-list_plain-->
<ul>
<!--##loop-list_images-->
    <li class="thumbs">
        <a href="!{vhref}" class="pic"><img src="!{src}" alt="!{alt}" title="!{title} g(edit)" /></a>
        <p>
            !{cb}
        </p>
    </li>
<!--##cont-->
</ul>
<div style="clear:both"></div>
<!--##show-->

<!--##hide-compilation-->
<p>#(num_pics) !{pic_count}</p>
<!--##show-->


<div style="clear:both"></div>
<p>#(inhalt)</p>
<p>#(text1)</p>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>
<!--##end-->
</body>
</html>
