<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>righted.modify</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->

<form method="post" action="!#ausgaben_form_aktion" id="eEd">
    <h1>#(ueberschrift)</h1>
<!--    <p>#(inhalt)</p>-->

<!--##hide-plausible_check-->    
    <div class="red" style="margin-top: 10px">
<!--##loop-plausible_check-->    
        !{message}<br />
<!--##cont-->
    </div>
<!--##show-->
    <div id="tabmain">
        <div id="tabmenu">
            <div id="tab_datasheet1" class="tab active"><div>Gruppen</div></div>
            <div id="tab_datasheet2" class="tab"><div>Benutzer</div></div>
            <div id="tab_datasheet3" class="tab "><div>Legende</div></div>
        </div>

        <div id="datasheet1" class="tabcontent">
            <h2>#(url) !#ausgaben_url</h2>
<!--##loop-infos_group-->
            <fieldset>
                <legend> !{gruppe}</legend>
                    !{info}
            </fieldset>
<!--##cont-->
        </div>
    
        <div id="datasheet2" class="tabcontent" style="display:none">
            <h2>#(url) !#ausgaben_url</h2>
<!--##loop-infos_user-->
            <fieldset>
                <legend> !{user}</legend>
                !{info}
            </fieldset>
<!--##cont-->
        </div>
    
        <div id="datasheet3" class="tabcontent" style="display:none">
            <div>
<!--##loop-legende-->
                <div class="legende" style="background:!{color}"></div><div>!{text}</div>
<!--##cont-->
            </div>
        </div>
    </div>

    <fieldset>
        <input type="button" name="abort" value="zur&uuml;ck zum Men&uuml;-Editor" onclick="location='!#ausgaben_form_break'"  />
    </fieldset>       

</form>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>
<script type="text/javascript">
    
    function anzeigen(id) {
    show = document.getElementById(id).style.display;
    if ( show == 'none' ) {
    new Effect.BlindDown(id);
    } else {
    new Effect.BlindUp(id)
    }
    return false;
    }


    var tabids = [];
    var containerids = [];
    function create_tabs() {
        $$('.tab').all( function( el ) {
                tabids.push( el.id );                            
                containerids.push( el.id.replace( 'tab_', '' ) );
                el.observe( 'click', handle_tab_click );
                return true;
        } );
    }

    /**
     * Hande a clicked tab
     */
    function handle_tab_click( event )
    {
        // Get container id
        containerid = this.id.replace( 'tab_', '' );
        // Set active tab menu point
        tabids.all( function( tab ) {
            $(tab).removeClassName( 'active' );
            return true;
        } );
        this.addClassName( 'active' );
        // Set active tab content container
        containerids.all( function( container ) {
            $(container).hide();
            return true;
        } );
        $(containerid).show();
    }
    /**
     * Init tabbing
     */
    Event.observe( window, 'load', create_tabs );

    if ( window.location.hash == '#user' ) {
        $('tab_datasheet2').addClassName( 'active' );
        $('tab_datasheet1').removeClassName( 'active' );
        $('datasheet1').hide();
        $('datasheet2').show();
    };

</script>
<!--##end-->
</body>
</html>