<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>auth.login</title>
</head>
<body bgcolor="#FFFFFF">
<!--##begin-->
!#ausgaben_login_meldung 
<form name="login" method="post" action="!#ausgaben_auth_url">
  <table width="0" border="0" cellspacing="0" cellpadding="5">
    <tr> 
      <td width="35">user:</td>
      <td> 
        <input style="width:50;font-size:9px" type="text" name="user">
      </td>
    </tr>
    <tr> 
      <td width="35">pass: </td>
      <td> 
        <input style="width:50;font-size:9px" type="password" name="pass">
      </td>
    </tr>
    <tr> 
      <td width="35">&nbsp;</td>
      <td> 
        <input type="submit" name="login" value="login">
      </td>
    </tr>
  </table>
</form>
<!--##end-->
</body>
</html>

