<!--##begin-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<!--$Id$-->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>!#specialvars_pagetitle</title>
</head>
<body bgcolor="#FFFFFF">
<table width="735" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr> 
    <td valign="bottom"><a href="!#pathvars_menuroot/index.html!#specialvars_phpsessid">Home</a> 
      <a href="!#pathvars_menuroot/impressum.html">Kontakt</a> </td>
    <td align="right" valign="bottom">!#environment_katid !#environment_subkatid</td>
    <td align="right" width="67"><img src="../../images/default/ewebuki_160x67.png" width="160" height="67"></td>
  </tr>
  <tr> 
    <td colspan="3"> 
      <hr size="1">
    </td>
  </tr>
</table>
<table width="735" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr> 
    <td>#(kekse) !#environment_kekse</td>
    <td align="right">!#date</td>
  </tr>
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<table width="735" border="0" cellpadding="0" align="center" cellspacing="0">
  <tr> 
    <td width="135" valign="top"> 
      <table width="138" border="1" cellpadding="0" cellspacing="0" >
        <tr> 
          <td nowrap>#(ueberschrift)</td>
        </tr>
        <tr> 
          <td>!#ausgaben_menu</td>
        </tr>
      </table>
      <br>
      #{auth}</td>
    <td valign="top" width="600">#{main}</td>
  </tr>
</table>
<table width="735" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr align="right"> 
    <td colspan="2">
      <!--##hide-changed-->
      Letzte &Auml;nderung !{changed} von <a href="mailto:!{email}">!{alias}</a> 
      (!{forename} !{surname}) 
      <!--##show-->
    </td>
  </tr>
  <tr> 
    <td colspan="2"> 
      <hr size="1">
    </td>
  </tr>
  <tr> 
    <td><a href="!#pathvars_menuroot/index.html!#specialvars_phpsessid">Home</a> 
      <a href="!#pathvars_menuroot/impressum.html"></a><a href="!#pathvars_menuroot/impressum.html">Kontakt</a></td>
    <td align="right">#(copyright)</td>
  </tr>
</table>
</body>
</html>
<!--##end-->