<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<meta http-equiv="Content-Type"
 content="text/html; charset=iso-8859-1">
<title>imgb</title>
<link rel="stylesheet" href="../../css/net.css" type="text/css">
</head>
<body bgcolor="#ffffff">
<!--##begin-->
<table border="0" !#ausgaben_align cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3">!#ausgaben_tspace</td>
  </tr>
  <tr>
    <td>!#ausgaben_lspace</td>
    <td><table border="0" !#ausgaben_align cellpadding="0" cellspacing="0">
        <tr>
          <td bgcolor="#CCCCCC"><table border="0" cellpadding="0" cellspacing="1">
              <tr bgcolor="#FFFFFF">
                <td>!#ausgaben_linka<img src="!#ausgaben_imgurl" alt="!#ausgaben_alt" !#ausgaben_imgsize !#ausgaben_border>!#ausgaben_linkb</td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td align="left" valign="top">
<table !#ausgaben_tabwidth border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td><img border=0 src="../../images/default/pos.png" width="8" height="8"></td>
                      <td>!#ausgaben_linka!#ausgaben_beschriftung!#ausgaben_linkb</td>
                    </tr>
                  </table>
                </td>
              </tr>
      </table></td>
        </tr>
      </table></td>
    <td>!#ausgaben_rspace</td>
  </tr>
  <tr>
    <td colspan="3">!#ausgaben_bspace</td>
  </tr>
</table>
<!--##end-->
</body>
</html>
