<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>default</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<h1>#(ueberschrift)</h1>
<p><a href="!#ausgaben_referer">g(back)</a></p>
<p>#(inhalt)</p>
<!--##hide-navi-->
<p><a href="!#ausgaben_zurueck">g(prev)</a> g(picture) !#ausgaben_aktuell g(of) !#ausgaben_gesamt <a href="!#ausgaben_vor">g(next)</a></p>
<!--##show-->
<p><a href="!#ausgaben_vor"><img src="!#ausgaben_imgurl" title="!#ausgaben_beschriftung" alt="!#ausgaben_beschriftung" /></a></p>
<!-- !#ausgaben_imgsize -->
<!--##hide-leer-->
<table width="200" border="1" cellpadding="0" cellspacing="0">
    <tr>
        <td nowrap class="menu_ueberschrift" colspan="2">#(data)</td>
    </tr>
    <!--##loop-leer-->
    <tr>
        <td align="left" valign="top">!{0}</td>
        <td align="left" valign="top">!{1}</td>
    </tr>
    <!--##cont-->
</table>
<p>!#ausgaben_beschreibung</p>
<!--##show-->
<!--##hide-navi-->
<p><a href="!#ausgaben_zurueck">g(prev)</a> g(picture) !#ausgaben_aktuell g(of) !#ausgaben_gesamt <a href="!#ausgaben_vor">g(next)</a></p>
<!--##show-->
<!--##end-->
</body>
</html>