<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>leveled.modify</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<script type="text/javascript">
  function resetForm(){
     document.forms['modify'].reset();
  }
</script>
<form method="post" action="!#ausgaben_form_aktion" id="eEd">
    <h1>#(ueberschrift)</h1>
    <p>#(inhalt)</p>
    <p>!#ausgaben_form_error</p>
    <fieldset>
        <label for="level">#(group)</label>
        !#element_ggroup
        <label for="description">#(description)</label>
        !#element_beschreibung
        <div class="clearer"></div>
    </fieldset>
    <fieldset class="float">
        <!--##hide-edit-->
        <label>#(actual)
            <select name="actual[]" size="10" multiple="multiple">
            <!--##loop-actual-->
                <option value="!{value}">!{username}</option>
            <!--##cont-->
            </select>
            <input type="submit" name="del[]" value="#(del)" />
        </label>
        <!--##show-->
        <label>#(avail)
            <select name="avail[]" size="10" multiple="multiple">
            <!--##loop-avail-->
                <option value="!{value}">!{username}</option>
            <!--##cont-->
            </select>
            <!--##hide-edit-->
            <input type="submit" name="add[]" value="#(add)" />
            <!--##show-->
        </label>
    </fieldset>
    <fieldset>
        <input type="submit" name="send[]" value="g(send)" class="first" />
        <input type="reset" name="reset" value="g(reset)" class="next" />
        <input type="button" name="abort" value="g(abort)" onclick="location='!#ausgaben_form_break'" class="next" />
        <div class="clearer"></div>
    </fieldset>
</form>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>
<!--##end-->
</body>
</html>