<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>leveled.details</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<h1>#(ueberschrift)</h1>
<p>#(inhalt)</p>
<h2>#(group)</h2>
<p>!#ausgaben_level</p>
<h2>#(beschreibung)</h2>
<p>!#ausgaben_beschreibung</p>
<!--##hide-members-->
<h2>#(user)</h2>
<p>!#ausgaben_members</p>
<!--##show-->
<p>
    <a href="!#ausgaben_link_list"><img src="../../images/default/left.png" alt="g(back)" width="24" height="18" title="g(back)" /></a>
    <a href="!#ausgaben_link_edit"><img src="../../images/default/edit.png" alt="g(edit)" width="24" height="18" title="g(edit)" /></a>
</p>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>
<!--##end-->
</body>
</html>