<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>contented.modify</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/devel/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<script type="text/javascript">
<!--
  function resetForm(){
     document.forms[0].reset();
  }
//-->
</script>
!#ausgaben_ce_script
<form method="post" action="!#ausgaben_form_aktion" id="cEd" !#ausgaben_eventh1>
    <h1>#(ueberschrift)</h1>
    <p>#(inhalt)</p>
    !#ausgaben_form_error</p>

    <fieldset class="ce">

        <div style="float:left"><script type="text/javascript">ebToolbar('top');</script></div>

        <a class="infobox" href="#INFO">INFO
        <span>
            !#ausgaben_ce_tem_db<br />
            !#ausgaben_ce_tem_name<br />
            !#ausgaben_ce_tem_label<br />
            !#ausgaben_ce_tem_lang
        </span>
        </a>

<!--         <p>!#ausgaben_ce_button</p> -->
        <textarea id="content" name="!#ausgaben_name" cols="80" rows="15" title="!#ausgaben_lock" class="!#ausgaben_class" !#ausgaben_eventh2>!#ausgaben_inhalt</textarea>
<!--         <p>!#ausgaben_ce_bottom_button</p> -->

        <div style="float:left"><script type="text/javascript">ebToolbar('bot');</script></div>
        <p style="float:right" id="characters">#(charakters)</p>

        <script type="text/javascript" language="JavaScript">
            <!--
            // This is for toolbar plugins
            var ebCanvas = document.getElementById('content');
            //-->
        </script>

        <div class="clearer">&nbsp;</div>

        <p>!#ausgaben_tn</p>

        !#ausgaben_ce_upload
        !#ausgaben_ce_dropdown

        <input type="hidden" name="html" value="!#ausgaben_form_hidden" class="hidden" />
        <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" class="hidden" />
        <div class="clearer">&nbsp;</div>
        <input type="submit" name="send[]" value="g(send)" accesskey="s" class="first" />
        <input type="reset" name="reset" value="g(reset)" accesskey="r" class="next" />
        <input type="button" name="abort" value="g(abort)" accesskey="a" onclick="location='!#ausgaben_form_break'" class="next" />
        <div class="clearer">&nbsp;</div>
    </fieldset>

    <p>!#ausgaben_output</p>
    <p>!#ausgaben_inaccessible</p>
</form>
<!--##end-->
</body>
</html>