<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>fileed.list</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<form method="get" action="!#ausgaben_form1_aktion" id="eEd">
<h1>#(ueberschrift)</h1>
    <fieldset class="float">
        <label>
            #(search)&nbsp;<input type="text" name="search" value="!#ausgaben_search" class="textfield" />
        </label>
        <label>
            &nbsp;
            <input type="submit" name="send[]" value="g(send)" />
        </label>
        <div class="clearer">&nbsp;</div>
        <label>
            #(group)
            <select name="filter0" onchange="submit()">
                <!--##loop-filter0-->
                <option value="!{value}"!{select}>!{label}</option>
                <!--##cont-->
            </select>
        </label>
        <label>
            #(type)
            <select name="filter1" onchange="submit()">
                <!--##loop-filter1-->
                <option value="!{value}"!{select}>!{label}</option>
                <!--##cont-->
            </select>
        </label>
    </fieldset>
</form>
<p>!#ausgaben_result</p>
<p>!#ausgaben_form_error</p>
<p>
<!--##hide-cms-->
<a href="!{link}">#(cmslink)</a>
<!--##show-->

<!--##hide-file-->
 <a href="!{edit}">#(fileedit)</a>
 <a href="!{delete}">#(filedelete)</a>
 <a href="!{collect}">#(filecollect)</a>
<!--##show-->

 <a href="./compilation.html">#(filecompilation)</a>
 <a href="./upload.html">#(fileupload)</a>
</p>
<!--##hide-images-->
<div style="clear:both"></div>
<ul>
<!--##loop-list-->
    <li class="thumbs">
        <a href="!{ehref}" class="pic"><img src="!{src}" alt="!{alt}" title="!{title} g(edit)" /></a>
        <p>
            !{cb}
            <a href="!{ohref}" title="Vorschau Original (original)">O</a>
            <a href="!{bhref}" title="Vorschau Gross (big)">B</a>
            <a href="!{mhref}" title="Vorschau Mittel (middle)">M</a>
            <a href="!{shref}" title="Vorschau Klein (small)" >S</a>
        </p>
    </li>
<!--##cont-->
</ul>
<!--##show-->
<!--##hide-other-->
<div style="clear:both"></div>
<ul>
<!--##loop-list-->
    <li style="background:!{color};">
        !{cb}&nbsp;
        <a title="!{title} bearbeiten" href="!{ehref}">
            <img src="../../images/default/details.png" alt="g(details)" />
        </a>&nbsp;
        <a title="!{title} bearbeiten" href="!{ehref}">
            !{title}
        </a> [ <a title="Herunterladen (download)" href="!{dhref}">D</a> ]
    </li>
<!--##cont-->
</ul>
<!--##show-->
<div style="clear:both"></div>
<p style="float:left">g(anzahl)!#ausgaben_anzahl</p>
<p style="float:right">!#ausgaben_inhalt_selector</p>
<div style="clear:both"></div>
<p>#(inhalt)</p>
<p>#(text1)</p>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>
<!--##end-->
</body>
</html>