<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>fileed.list</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<form method="get" action="!#ausgaben_form1_aktion" id="eEd">
    <h1>#(ueberschrift)</h1>
    <div class="tabbed" style="">
        <ul style="">
            <!--##loop-tabs-->
            <li style="!{style}">
                <a href="!{link}" class="!{class}" style="">!{label}</a>
            </li>
            <!--##cont-->
        </ul>
    </div>
    <div style="clear:both;border-top:1px solid #666666;"></div>
    <fieldset class="float">
        <label class="small">
            #(search)&nbsp;
            <input type="text" name="search" value="!#ausgaben_search" class="textfield" />
        </label>
        <label class="small">
            #(group)&nbsp;
            <select name="filter0" onchange="submit()">
                <!--##loop-filter0-->
                <option value="!{value}"!{select}>!{label}</option>
                <!--##cont-->
            </select>
        </label>
        <label class="small">
            &nbsp;
            <input type="submit" name="send[]" value="g(send)" />
        </label>
    </fieldset>
</form>
<p>!#ausgaben_result</p>
<p>!#ausgaben_form_error</p>
<p>&nbsp;
<!--##hide-cms-->
<span style="display:!{display}" id="cms">
    <a href="!{link}">#(cmslink)</a>
</span>
<!--##show-->

<!--##hide-file-->
<span style="display:!{display}" id="file">
    <a href="!{edit}">#(fileedit)</a>
    <a href="!{collect}">#(filecollect)</a>
    <a href="!{delete}">#(filedelete)</a>
</span>
<!--##show-->
</p>

<!--##hide-list_images-->
<div style="clear:both"></div>
<h2>#(images)</h2>
<ul>
<!--##show-->
<!--##hide-list_plain-->
<!--##loop-list_images-->
    <li class="thumbs">
        <a href="!{ehref}" class="pic"><img src="!{src}" alt="!{alt}" title="!{title} g(edit)" /></a>
        <p>
            !{cb}
            <a href="!{ohref}" title="Vorschau Original (original)">O</a>
            <a href="!{bhref}" title="Vorschau Gross (big)">B</a>
            <a href="!{mhref}" title="Vorschau Mittel (middle)">M</a>
            <a href="!{shref}" title="Vorschau Klein (small)" >S</a>
        </p>
    </li>
<!--##cont-->
<!--##show-->
<!--##hide-list_ajax-->
<!--##loop-list_images-->
    <li class="thumbs">
        <a href="!{ehref}" class="pic"><img src="!{src}" alt="!{alt}" title="!{title} g(edit)" /></a>
        <p>
            <input type="checkbox" name="sel_pics[!{id}]" value="-1" onclick="session_update(!{id});"!{checked} />
            <a href="!{ohref}" title="Vorschau Original (original)">O</a>
            <a href="!{bhref}" title="Vorschau Gross (big)">B</a>
            <a href="!{mhref}" title="Vorschau Mittel (middle)">M</a>
            <a href="!{shref}" title="Vorschau Klein (small)" >S</a>
        </p>
    </li>
<!--##cont-->
<!--##show-->
<!--##hide-list_images-->
</ul>
<!--##show-->

<!--##hide-list_other-->
<div style="clear:both"></div>
<h2>#(other)</h2>
<ul>
<!--##show-->
<!--##hide-list_plain-->
<!--##loop-list_other-->
    <li style="background:!{color};">
        !{cb}&nbsp;
        <a title="!{title} bearbeiten" href="!{ehref}">
            <img src="../../images/default/details.png" alt="g(details)" />
        </a>&nbsp;
        <a title="!{title} bearbeiten" href="!{ehref}">
            !{title}
        </a> [ <a title="Herunterladen (download)" href="!{dhref}">D</a> ]
    </li>
<!--##cont-->
<!--##show-->
<!--##hide-list_ajax-->
<!--##loop-list_other-->
    <li style="background:!{color};">
        <input type="checkbox" name="sel_pics[!{id}]" value="-1" onclick="session_update(!{id});"!{checked} />&nbsp;
        <a title="!{title} bearbeiten" href="!{ehref}">
            !{title}
        </a> [ <a title="Herunterladen (download)" href="!{dhref}">D</a> ]
    </li>
<!--##cont-->
<!--##show-->
<!--##hide-list_other-->
</ul>
<!--##show-->

<!--##hide-list_ajax-->
<script type="text/javascript">
    function session_update(fileid) {
        new Ajax.Updater('ajax_output',
                         './list,,' + fileid + '.html?ajax',
                         {asynchronous:true,
                          onFailure:function(){ new Effect.Fade('file')},
                          onSuccess:function(){ new Effect.Appear('file')}
                         }
        );
    }
</script>
<!--##show-->

<div style="clear:both"></div>
<p style="float:left">g(anzahl)!#ausgaben_anzahl</p>
<p style="float:right">!#ausgaben_inhalt_selector</p>
<div style="clear:both"></div>
<p>#(inhalt)</p>
<p>#(text1)</p>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>
<div id="ajax_output"></div>
<!--##end-->
</body>
</html>