<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>fileed.modify</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id$-->
<script type="text/javascript">
<!--
  function resetForm(){
     document.forms[0].reset();
  }
//-->
</script>
<form method="post" action="!#ausgaben_form_aktion" id="eEd" enctype="multipart/form-data">
    <h1>#(ueberschrift)</h1>
    <p>#(inhalt)</p>
    <p>!#ausgaben_form_error</p>
    <fieldset class="float">
        <img src="!#ausgaben_thumbnail" alt="" style="float:right;" />
        <label style="clear:left;">#(ffname)
            !#element_ffname
        </label>
        <label style="clear:left;">#(fdesc)
            !#element_fdesc
        </label>
        <label style="clear:left;">#(funder)
            !#element_funder
        </label>
        <label style="clear:left;">#(fhit)
            !#element_fhit
        </label>
        <!--##hide-upload-->
        <label style="clear:left;">#(replace)
            #(upa)<br><input type="file" name="upload"><br>#(upb)
        </label>
        <!--##show-->
    </fieldset>
    <!--##hide-owner-->
    <p>
        #(fowner)<a href="mailto:!{email}">!{name}</a><br />!{error}
    </p>
    <!--##show-->
    <p>#(references)!#ausgaben_reference</p>
    <p>!#element_fid</p>
    <fieldset>
        <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" class="hidden" />
        <div class="clearer">&nbsp;</div>
        <input type="submit" name="send[]" value="g(send)" class="first" />
        <input type="reset" name="reset" value="g(reset)" onclick="resetForm()" class="next" />
        <input type="button" name="abort" value="g(abort)" onclick="location='!#ausgaben_form_break'" class="next" />
        <div class="clearer">&nbsp;</div>
    </fieldset>
    <p>!#ausgaben_output</p>
    <p>!#ausgaben_inaccessible</p>
</form>
<!--##end-->
</body>
</html>
