<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>fileed.modify</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id: -939795212.modify.tem.html 789 2007-09-14 12:14:02Z chaot $-->
<script type="text/javascript">
<!--
  function resetForm(){
     document.forms[0].reset();
  }
//-->
</script>
<form method="post" action="!#ausgaben_form_aktion" id="eEd">
    <h1>#(ueberschrift)</h1>
    <p>#(inhalt)</p>
    <p>!#ausgaben_form_error</p>
    <div class="clearer">&nbsp;</div>
    <ul>
        <!--##loop-list-->
        <li><input type="text" value="!{sort}" name="sort[!{id}]" style="margin:0 1em 0 0;width:2em;" />!{item}</li>
        <!--##cont-->
    </ul>
    <fieldset>
        <img src="!#ausgaben_thumbnail" alt="" style="float:right;" />
        <label style="clear:left;">#(ffhit)</label>
        <input type="text" value="!#ausgaben_groupid" name="groupid" class="" />
        <label style="clear:left;">#(ffhit)</label>
        <select name="all_groups">
            <!--##loop-group_dropdown-->
            <option value="!{id}"!{select}>!{id}</option>
            <!--##cont-->
        </select>


<!--        <label style="clear:left;">#(fdesc)
            !#element_fdesc
        </label>-->
        <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" class="hidden" />
        <div class="clearer">&nbsp;</div>
        <input type="submit" name="send[]" value="g(send)" class="first" />
        <input type="reset" name="reset" value="g(reset)" onclick="resetForm()" class="next" />
        <input type="button" name="abort" value="g(abort)" onclick="location='!#ausgaben_form_break'" class="next" />
        <div class="clearer">&nbsp;</div>
    </fieldset>
    <div class="clearer">&nbsp;</div>
    <p>!#ausgaben_output</p>
    <p>!#ausgaben_inaccessible</p>
</form>
<!--##end-->
</body>
</html>
